// List layout styles
.mat-nav-list {
    padding: 15px;

    & .mat-list-item {
        font-size: 13px;
        color: #333;

        &:hover .delete-article {
            display: block;
            position: absolute;
            right: 10px;
        }
    }
}

.article-author {
    color: #999;
}

.mat-divider {
    border-top-color: #CCC;
}

.article-date {
    min-width: 70px;
    padding: 0 50px;
}

.delete-article {
    font-size: 18px;
    display: none;

    &:hover {
        color: #C51162;
    }
}