<mat-nav-list>
    <ng-container class="articles-container" *ngFor="let article of articles">
      <a mat-list-item *ngIf="article.active" href="{{ article.story_url || article.url }}" target="_blank">
        <p matLine>
          <span class="article-title"> {{ article.title || article.story_title }} </span>
          <span class="article-author"> - {{ article.author }} - </span>
        </p>
        <span class="article-date"> {{ article.created_at_formatted  }} </span>
        <mat-icon (click)="remove(article, $event)" class="delete-article">delete</mat-icon>
        <mat-divider></mat-divider>
      </a>
    </ng-container>
  </mat-nav-list>