// Header layout styles
.header-container {
    background-color: #303335;
    padding: 4vw;

    & h1 {
        color: #FFF;
        font-size: 40pt;
        margin-bottom: 30px;
    }

    & h2 {
        color: #FFF;
        font-size: 16pt;
        margin-bottom: 0;
    }
}